img {
    width: 100%;
    height: 100%;
}

.resizable {
    display: inline-block;
    background: grey;
    resize: both;
    overflow: hidden;
    line-height: 0;
    max-width: 100%;
    width: 80%;
}
